<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Victory predict</title>
  </head>
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col col-lg-2">
    </div>
      <div class="col-md-auto">
  <div class="page-header">
    <h1>Hi, summoner! <small> Welcome to victory predict </small></h1>
  </div>
      </div>
      <div class="col col-lg-2">
    </div>
      </div>
  </div>



  <form method="POST | GET" action="/search/" name="field_name">
  <div class="form-group">
    <label>Summoner name</label>
    <input type="text" class="form-control" id="user_name" aria-describedby="name" name="user_name" placeholder="Please enter your name">
    </div>

    <div class="form-group">
    <label>Server</label>
    <select class="form-control" id="server" name="server">
      <option>ru</option>
      <option>eu1</option>
      <option>na1</option>
      <option>kr</option>
    </select>
      </div>


        <button type="submit" class="btn btn-primary">Predict</button>

</form>

  </body>
</html>